frontend/node_modules/**/*
backend/node_modules/**/*
node_modules/**/*
# ignore .env globally
*.env
# Logs
logs.*
# Local Netlify folder
.netlify
# Netlify lambda functions
functions/**/*
# CRA build
frontend/build/**/*
.vscode
